* {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    background-color: #e8e8e8;
    background-image: linear-gradient(90deg, #F2509C, #005485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    color: #345f7e;
}

p {
    line-height: 1.5;
    font-size: 24px;
    color: #4a4a4a;
}

.active .navigation-link__text {
    color: #f1338b
}

.navigation__link:hover {
    color: #F2509C;
}
.logo__link:hover {
    color: #F2509C;
}

code {
    font-size: 28px;
    color: #F2509C;
}

.gallery__item {
    transition: 1s;
}
.gallery__item:hover {
    transform: scale(1.1);
}
.gallery1__item {
    transition: 1s;
}
.gallery1__item:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: #4a4a4a;
    background-color: white;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    position: absolute; /* Фиксируем подвал */
    bottom: 0;  /* Всегда внизу, на виду */
    left: 0;
    right: 0;
}

.logo__link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 32px;
}

.navigation__link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 26px;
}

.rights {
    font-size: 20px;
}

header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    background-color: #e8e8e8;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.funfact__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    background: white;
    padding: 20px;
    width: 80%;
    line-height: 0.5;
}

.navigation__item {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}

.navigation__list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.socials__item {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}

.socials__list {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

.gallery_section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery__item {
    max-width: 20%;
    flex-wrap: wrap;
}

.gallery1_section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery1__item {
    max-width: 40%;
    flex-wrap: wrap;
}

.sidebar__image {
    display: flex;
    width: 450px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    flex-wrap: wrap;

}

.content__quote {
    text-transform: lowercase;
}

.content__article {
    display: flex;
    border-style: dashed;
    border-color: #f39ac0;
    border-radius: 20px 20px 20px 20px;
    padding: 15px;
    width: 90%;
    flex-wrap: wrap;
}

.test{
    display: flex;
    flex-basis: 600px;
}
q {
    quotes: "“" "”";
}

.about {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 80%;
    gap: 50px;
    margin-bottom: 100px;
}
.table__container {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 140px;
}

.table__container td {
    padding: 10px;
    text-align: left;
}

.table__container th {
    background-color: #345f7e;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.table__container tbody tr:nth-child(odd) {
    background-color: white;
}

.table__container tbody tr:nth-child(even) {
    background-color: darkgrey;
}

#buttonContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /*flex-basis: min-content;*/
    max-width: 80%;
}
.column {
    /*flex: 1 1 9%;*/
    justify-items: center;
    margin: 10px;
    border: 3px solid #f39ac0;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-size: 24px;
    color: #4a4a4a;
}
.create_buttons{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #345f7e;
    color: white;
}
.create_buttons:hover {
    background-color: #005485;
}
.clear_results{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #345f7e;
    color: white;
}
.clear_results:hover {
    background-color: #005485;
}

.result {
    max-width: 90%;
    display: none;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 30px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
}
.result_table {
    /*width: 90%;*/
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}

.result_table td {
    border: 1px solid #4a4a4a;
    padding: 10px;
}

.result_table th {
    border: 1px solid #4a4a4a;
    background-color: #345f7e;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.clear_results{
    display: none;
}
.form{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 24px;
    color: #4a4a4a;
}



/*.form__items{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    !*justify-content: center;*!*/
/*    flex-direction: column;*/
/*    max-width: 100%;*/
/*    gap: 20px;*/
/*}*/

@media screen and (max-width: 600px) {
    .header__socials {
        display: none;
    }
    aside {
        display: none;
    }
    header{
        justify-content: center;
    }
    .table__container {
        margin-bottom: 250px;
        overflow-x: auto;
    }

    .navigation__link{
        font-size: 20px;
    }
    .logo__link{
        font-size: 25px;
    }
}

body {
    min-height: 100vh;
    position: relative;
}


